.header {
  height: 120px;
  width: 100%;
  background-color: gray;
  text-align: center;
  color: white;
}

.footer {
  height:100px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  background-color: gray;
  color: white;
}

.textBox {
  display: block;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

ul li {
  display: inline;
  padding: 10px;
  font-size: 20px;
  color: white;
}
